@import "../styles/variables";

.sec1 {
    background-image: url('../../assets/backgroundSec1.svg');
    background-size: cover;
    background-attachment: fixed;

    .main {
        display: flex;
        justify-content: center;
        min-height: 100vh;

        .firstContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            img {
                width: 67%;
            }

            h2 {
                margin-top: 3rem;
                font-size: 1.25rem;
                color: $white;
                font-weight: 500;
                margin-bottom: 1.5rem;
                width: 67%;
            }

            .buttonsContainer {
                display: flex;
                gap: 0.5rem;
                width: 67%;

                a {
                    border: 2px solid $darkgrenn;
                    text-align: center;
                    border-radius: 0.5rem;
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: $white;
                    text-decoration: none;
                    padding: 0.8rem 0 0.8rem 0;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
                    width: 18rem;

                    &.fullfill {
                        border: none;
                        background: linear-gradient(to bottom, $babygrenn, $darkgrenn);
                    }
                }
            }
        }

        .secondContainer {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-self: flex-end;

            img {
                height: auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {

    .sec1 {
        background-image: url('../../assets/background_mobile.svg');
    }

    .main {
        flex-direction: column;
        justify-content: space-between !important;
        min-height: 100dvh !important;

        .firstContainer {

            margin-top: 7rem;
            margin-bottom: 1.5rem;
            width: 100% !important;

            img {
                width: 70% !important;
            }

            h2 {
                width: 80% !important;
                margin: 1rem 0 1.5rem 0 !important;
                text-align: center;
                font-size: 1.125rem !important;
            }

            .buttonsContainer {
                flex-direction: column;
                width: 80% !important;

                a {
                    padding: 0.5rem 0 0.5rem 0 !important;
                    width: 100% !important;
                }
            }
        }

        .secondContainer {
            width: 100% !important;
            position: relative;
            bottom: 0;

            img {
                position: unset !important;
                width: 110dvw !important;
            }
        }
    }
}